.idea
*/tmp
/tmp
env.*
*/bin
package/scripts/build.ksh
package/scripts/shell.ksh

# ignore common/shared files
definitions.go
env.go
events.go
helpers.go
main-cmdline.go
s3.go
sqs.go
version.go

# dont ignore common directory
!service-common/*.go
