Source-Organization: {{.SourceOrganization}}
Bag-Count: 1
Bagging-Date: {{.Date}}
Internal-Sender-Description: {{.SenderDescription}}
Internal-Sender-Identifier: {{.SenderIdentifier}}
Bag-Group-Identifier: {{.BagGroupIdentifier}}